* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}

main > h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-align: center;
}

main > p {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  text-align: center;
}

main > p > code {
  padding: 5px 10px 5px 10px;
  background-color: azure;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 5px 5px;
}

footer > p {
  font-family: 'Courier New', Courier, monospace;
}

footer > a {
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 640px) {
  footer {
    justify-content: center;
    flex-direction: row;
  }
}
